<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
	<meta name="description" content="<%= APP_DESCRIPTION %>">
	<link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/fonts/fonts.css" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<title><%= title %></title>
</head>
<body>
	<div class="policy"><div class="policy--container">
		<div class="policy--head">
			<h2><%= policyTitle %></h2>
		</div>
		<div class="policy--content">
			<span class="policy--subtitle">Last update <span class="policy--created" data="<%= policyCreated %>"></span></span>
			<div class="policy--body"><%= require('html-loader!../../common/policies/terms.html').default %></div>
		</div>
	</div></div>
</body>
</html>
